In [13]:
import numpy as np
import pandas as pd

In [14]:
conditions = pd.read_csv("./data/scores.csv")
conditions = conditions[conditions.number.str.startswith("condition")]
conditions

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0
5,condition_6,7,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18.0,15.0
6,condition_7,11,1,20-24,1.0,NaN,2.0,11-15,2.0,1.0,24.0,25.0
7,condition_8,5,2,25-29,2.0,NaN,2.0,11-15,1.0,2.0,20.0,16.0
8,condition_9,13,2,45-49,1.0,NaN,2.0,6-10,1.0,2.0,26.0,26.0
9,condition_10,9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28.0,21.0
10,condition_11,14,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24.0,24.0
11,condition_12,12,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25.0,21.0
12,condition_13,14,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18.0,13.0
13,condition_14,14,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28.0,19.0
14,condition_15,13,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14.0,18.0
15,condition_16,16,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13.0,17.0
16,condition_17,13,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17.0,15.0
17,condition_18,13,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18.0,15.0
18,condition_19,13,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26.0,21.0
19,condition_20,13,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27.0,25.0
20,condition_21,13,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26.0,21.0
21,condition_22,14,1,65-69,2.0,2.0,1.0,,2.0,2.0,29.0,28.0
22,condition_23,16,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29.0,23.0

In [15]:
import os
sum_dict = {}
for file in os.listdir("./data/condition"):
    df = pd.read_csv("./data/condition" + "/" + file)
    sum_dict[file.split(".")[0]] = df.activity.sum()
sum_dict

{'condition_23': 6379462,
 'condition_22': 3521753,
 'condition_20': 1413779,
 'condition_21': 1628308,
 'condition_19': 3338367,
 'condition_18': 1517859,
 'condition_7': 5805537,
 'condition_6': 4209793,
 'condition_4': 5925033,
 'condition_5': 3594618,
 'condition_1': 3415660,
 'condition_2': 5981554,
 'condition_3': 5743208,
 'condition_8': 3569050,
 'condition_9': 3632316,
 'condition_16': 6128175,
 'condition_17': 1848268,
 'condition_15': 2391019,
 'condition_14': 1624530,
 'condition_10': 6243346,
 'condition_11': 2974516,
 'condition_13': 5735146,
 'condition_12': 3354049}

In [16]:
sums = pd.DataFrame(pd.Series(sum_dict))
sums.columns = ["Sum"]
sums
conditions = conditions.set_index("number").join(sums).reset_index()
conditions

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,Sum
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0,3415660
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0,5981554
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0,5743208
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0,5925033
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0,3594618
5,condition_6,7,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18.0,15.0,4209793
6,condition_7,11,1,20-24,1.0,NaN,2.0,11-15,2.0,1.0,24.0,25.0,5805537
7,condition_8,5,2,25-29,2.0,NaN,2.0,11-15,1.0,2.0,20.0,16.0,3569050
8,condition_9,13,2,45-49,1.0,NaN,2.0,6-10,1.0,2.0,26.0,26.0,3632316
9,condition_10,9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28.0,21.0,6243346
10,condition_11,14,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24.0,24.0,2974516
11,condition_12,12,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25.0,21.0,3354049
12,condition_13,14,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18.0,13.0,5735146
13,condition_14,14,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28.0,19.0,1624530
14,condition_15,13,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14.0,18.0,2391019
15,condition_16,16,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13.0,17.0,6128175
16,condition_17,13,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17.0,15.0,1848268
17,condition_18,13,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18.0,15.0,1517859
18,condition_19,13,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26.0,21.0,3338367
19,condition_20,13,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27.0,25.0,1413779
20,condition_21,13,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26.0,21.0,1628308
21,condition_22,14,1,65-69,2.0,2.0,1.0,,2.0,2.0,29.0,28.0,3521753
22,condition_23,16,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29.0,23.0,6379462

In [17]:
np.corrcoef(conditions['days'],conditions['Sum'])

array([[1.        , 0.11328104],
       [0.11328104, 1.        ]])

In [18]:
conditions["Stress"] = conditions.Sum / conditions.days
conditions.melanch.fillna(2.0, inplace = True)
conditions = conditions.drop(columns = ["number", "Sum", "days"])
conditions

,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,Stress
0,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0,310514.545455
1,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0,332308.555556
2,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0,441785.230769
3,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0,455771.769231
4,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0,276509.076923
5,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18.0,15.0,601399.000000
6,1,20-24,1.0,2.0,2.0,11-15,2.0,1.0,24.0,25.0,527776.090909
7,2,25-29,2.0,2.0,2.0,11-15,1.0,2.0,20.0,16.0,713810.000000
8,2,45-49,1.0,2.0,2.0,6-10,1.0,2.0,26.0,26.0,279408.923077
9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28.0,21.0,693705.111111
10,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24.0,24.0,212465.428571
11,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25.0,21.0,279504.083333
12,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18.0,13.0,409653.285714
13,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28.0,19.0,116037.857143
14,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14.0,18.0,183924.538462
15,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13.0,17.0,383010.937500
16,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17.0,15.0,142174.461538
17,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18.0,15.0,116758.384615
18,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26.0,21.0,256797.461538
19,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27.0,25.0,108752.230769
20,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26.0,21.0,125254.461538
21,1,65-69,2.0,2.0,1.0,,2.0,2.0,29.0,28.0,251553.785714
22,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29.0,23.0,398716.375000

In [19]:
list(conditions.columns)

['gender',
 'age',
 'afftype',
 'melanch',
 'inpatient',
 'edu',
 'marriage',
 'work',
 'madrs1',
 'madrs2',
 'Stress']

In [20]:
categoricals = list(conditions.columns)[:-3]
categoricals

['gender', 'age', 'afftype', 'melanch', 'inpatient', 'edu', 'marriage', 'work']

In [21]:
for c in categoricals:
    conditions[c] = conditions[c].astype("category").cat.codes
conditions

,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,Stress
0,1,3,1,1,1,3,0,1,19.0,19.0,310514.545455
1,1,4,0,1,1,3,1,1,24.0,11.0,332308.555556
2,0,5,1,1,1,3,1,1,24.0,25.0,441785.230769
3,1,1,1,1,1,1,0,0,20.0,16.0,455771.769231
4,1,6,1,1,1,1,1,1,26.0,26.0,276509.076923
5,0,3,1,1,1,3,0,1,18.0,15.0,601399.000000
6,0,0,0,1,1,1,1,0,24.0,25.0,527776.090909
7,1,1,1,1,1,1,0,1,20.0,16.0,713810.000000
8,1,5,0,1,1,3,0,1,26.0,26.0,279408.923077
9,1,5,1,1,1,3,0,1,28.0,21.0,693705.111111
10,0,5,1,1,1,3,0,1,24.0,24.0,212465.428571
11,1,4,0,1,1,3,1,1,25.0,21.0,279504.083333
12,1,3,0,1,1,1,1,1,18.0,13.0,409653.285714
13,0,8,0,1,1,3,1,1,28.0,19.0,116037.857143
14,1,7,1,1,1,1,0,0,14.0,18.0,183924.538462
15,0,5,1,1,1,1,0,1,13.0,17.0,383010.937500
16,0,6,0,1,1,3,0,1,17.0,15.0,142174.461538
17,1,4,2,1,1,1,1,1,18.0,15.0,116758.384615
18,1,6,1,1,0,2,1,1,26.0,21.0,256797.461538
19,0,2,1,0,0,3,0,1,27.0,25.0,108752.230769
20,1,3,1,1,0,3,1,1,26.0,21.0,125254.461538
21,0,9,1,1,0,0,1,1,29.0,28.0,251553.785714
22,0,2,1,1,0,2,1,1,29.0,23.0,398716.375000

In [22]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler().fit(conditions.Stress.values.reshape(-1,1))
conditions.Stress = sc.fit_transform(conditions.Stress.values.reshape(-1,1))
conditions

,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,Stress
0,1,3,1,1,1,3,0,1,19.0,19.0,-0.117986
1,1,4,0,1,1,3,1,1,24.0,11.0,0.006325
2,0,5,1,1,1,3,1,1,24.0,25.0,0.630768
3,1,1,1,1,1,1,0,0,20.0,16.0,0.710546
4,1,6,1,1,1,1,1,1,26.0,26.0,-0.311949
5,0,3,1,1,1,3,0,1,18.0,15.0,1.541188
6,0,0,0,1,1,1,1,0,24.0,25.0,1.121251
7,1,1,1,1,1,1,0,1,20.0,16.0,2.182368
8,1,5,0,1,1,3,0,1,26.0,26.0,-0.295409
9,1,5,1,1,1,3,0,1,28.0,21.0,2.067692
10,0,5,1,1,1,3,0,1,24.0,24.0,-0.677247
11,1,4,0,1,1,3,1,1,25.0,21.0,-0.294866
12,1,3,0,1,1,1,1,1,18.0,13.0,0.447491
13,0,8,0,1,1,3,1,1,28.0,19.0,-1.227260
14,1,7,1,1,1,1,0,0,14.0,18.0,-0.840041
15,0,5,1,1,1,1,0,1,13.0,17.0,0.295526
16,0,6,0,1,1,3,0,1,17.0,15.0,-1.078179
17,1,4,2,1,1,1,1,1,18.0,15.0,-1.223150
18,1,6,1,1,0,2,1,1,26.0,21.0,-0.424382
19,0,2,1,0,0,3,0,1,27.0,25.0,-1.268816
20,1,3,1,1,0,3,1,1,26.0,21.0,-1.174689
21,0,9,1,1,0,0,1,1,29.0,28.0,-0.454291
22,0,2,1,1,0,2,1,1,29.0,23.0,0.385108

In [23]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')


for c in categoricals:
    enc_df = pd.DataFrame(enc.fit_transform(conditions[[c]]).toarray())
    conditions = conditions.drop(columns = c).join(enc_df, lsuffix = c[0])
conditions

,madrs1,madrs2,Stress,0a,1a,0,1,2a,3e,4,...,0e,1e,0,1,2,3,0w,1w,0,1
0,19.0,19.0,-0.117986,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
1,24.0,11.0,0.006325,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
2,24.0,25.0,0.630768,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
3,20.0,16.0,0.710546,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
4,26.0,26.0,-0.311949,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
5,18.0,15.0,1.541188,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
6,24.0,25.0,1.121251,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
7,20.0,16.0,2.182368,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
8,26.0,26.0,-0.295409,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
9,28.0,21.0,2.067692,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
10,24.0,24.0,-0.677247,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
11,25.0,21.0,-0.294866,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
12,18.0,13.0,0.447491,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
13,28.0,19.0,-1.227260,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
14,14.0,18.0,-0.840041,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
15,13.0,17.0,0.295526,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
16,17.0,15.0,-1.078179,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
17,18.0,15.0,-1.223150,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
18,26.0,21.0,-0.424382,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
19,27.0,25.0,-1.268816,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
20,26.0,21.0,-1.174689,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
21,29.0,28.0,-0.454291,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
22,29.0,23.0,0.385108,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0

In [ ]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor()
reg.fit(conditions.drop(columns = "Stress"), conditions.Stress)

In [ ]:
from sklearn.metrics import r2_score
r2_score(conditions.Stress, reg.predict(conditions.drop(columns = "Stress")))